@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Data.Entities.Models.Servico>

@{
    ViewData["Title"] = "Serviços";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <form action="@Url.Action("Servicos")">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Procurar por serviço..." autofocus="autofocus" name="s" />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <br />
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Serviços
            <a href="@Url.Action("Cadastro")" class="btn btn-outline-primary pull-right">Adicionar</a>
        </h4>
        <br />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th>Descrição</th>
                        <th class="text-center">Tempo Estimado</th>
                        <th class="text-center">Preço</th>
                        <th class="text-center">Exec. Veterinário</th>
                        <th class="text-center">Pontos Pataz</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td>@item.Nome</td>
                            <td class="text-center">@(item.TempoEstimado.HasValue ? item.TempoEstimado.Value.ToString("g") : "-")</td>
                            <td class="text-center">
                                @item.Preco.ToString("C")
                                @if (item.PrecoAntigo.HasValue)
                                {
                                    <br />
                                    <small data-placement="bottom" data-toggle="tooltip" title="Preço anterior">@item.PrecoAntigo.Value.ToString("C")</small>
                                }
                            </td>
                            <td class="text-center">@(item.RealizadoPorVet == 1 ? "Sim" : "Não")</td>
                            <td class="text-center">@(item.PatazRecebido ?? 0)</td>
                            <td class="text-center">@(item.Ativo == 1 ? "Sim" : "Não")</td>
                            <td class="text-center">
                                <a href="@Url.Action("Cadastro", new {id = item.Id})" class="btn btn-xs btn-info" data-toggle="Editar Registro">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Servicos", new { p = page }))
        </div>
    </div>
</div>