@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Data.Entities.Models.Usuario>

@{
    ViewData["Title"] = "Profissionais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Procurar por profissional..." autofocus="autofocus" />
        <span class="input-group-btn">
            <button class="btn btn-info btn-lg"><i class="fa fa-search"></i></button>
        </span>
    </div>
    <br />
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Profissionais
            <a href="@Url.Action("Cadastro")" class="btn btn-outline-primary pull-right">Adicionar</a>
        </h4>
        <br />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th>Nome</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Login</th>
                        <th class="text-center">Veterinário</th>
                        <th class="text-center">Master</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td>@item.Nome</td>
                            <td class="text-center">@item.Cpf</td>
                            <td class="text-center">@item.CodigoAcesso</td>
                            <td class="text-center">@(item.EhVet == 1 ? "Sim" : "Não")</td>
                            <td class="text-center">@(item.EhAdministrador == 1 ? "Sim" : "Não")</td>
                            <td class="text-center">@(item.Ativo == 1 ? "Sim" : "Não")</td>
                            <td class="text-center">
                                <a href="@Url.Action("Cadastro", new {id = item.Id})" class="btn btn-xs btn-info" data-toggle="Editar Registro">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Profissionais", new { p = page }))
        </div>
    </div>
</div>
