@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Data.Entities.Models.Produto>

@{
    ViewData["Title"] = "Estoque de Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">
    <form action="@Url.Action("Produtos")">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Procurar produto no estoque..." autofocus="autofocus" name="s" />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <br />
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Estoque
        </h4>
        <br />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Foto</th>
                        <th class="text-center">Código</th>
                        <th>Descrição</th>
                        <th class="text-center">Estoque</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @if (!string.IsNullOrEmpty(item.Foto))
                                {
                                    <img src="~/images/produtos/@item.Foto" alt="@item.Nome" class="img-sm" />
                                }
                            </td>
                            <td class="text-center">@item.Codigo</td>
                            <td>@item.Nome</td>
                            <td class="text-center">@item.Estoque</td>
                            <td class="text-center">@(item.Ativo == 1 ? "Sim" : "Não")</td>
                            <td class="text-center">
                                <button onclick="alterarEstoque(@item.Id)" class="btn btn-xs btn-info" data-toggle="Alterar estoque">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Produtos", new { p = page }))
        </div>
    </div>
</div>

<div class="modal fade" id="mdlEstoque" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Quantidade em estoque atualmente: <label id="lblEstoque"></label></p>
                <label>Adicionar produtos ao estoque:</label>
                <input type="number" class="form-control" id="txtEstoque" min="0" value="0"/>
                <input type="hidden" id="hddIdEdicao" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="confirmarEstoque()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/paginas/cadastro-estoque.js"></script>
}